/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

/* WRITE YOUR CODE BELOW HERE */

html { /* Google font */
  font-size: 0.990rem;
  font-family: "DM Sans", sans-serif;
}

/* Header Content */
header { /* Alligned the header to the center */
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: orange;
  color: purple;
}

header h1 {
  margin: 0;
  font-size: 50px;
}

/* Section Headers */

/* Brave New World header*/
section h2{
  font-size: 30px;
  
}

section p {
  font-size: 20px;
}

section a { /* PNG image next to links */
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  color: black;
}

section a:visited { /* After the link is visited, change the color */
  color: purple;
}

section a:hover {
  background-color: purple;
  color: white;
}

section a::after { /* Add the external link image next to links */
  content: '';
  display: inline-block;
  background-image: url('external-link-52.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

/* Top course Choices */
aside h2 {
  font-size: 30px;
}

aside p {
  font-size: 20px;
}

/* Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav a:hover {
  background-color: purple;
  color: white;
}

